extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/admin_create_quest.css')

  .rpg-theme
    .container-fluid.px-4.px-lg-5.rpg-container
      h2.mb-4 
        i.fas.fa-scroll.me-2.text-rpg-gold
        | Създаване на нов Куест
      
      .card.rpg-card.mb-4
        .card-header.rpg-card-header 
          i.fas.fa-info-circle.me-2
          | Основна информация
        .card-body
          .row
            .col-12
              .mb-3
                label.form-label.rpg-label Заглавие на Куеста (напр. "Математика 1. клас")
                input#questTitle.form-control.rpg-input(type="text")
          
          .mb-3
            label.form-label.rpg-label Описание
            textarea#questDesc.form-control.rpg-input(rows="3")

      #quizzesContainer

      .d-flex.justify-content-between.mb-5.pb-5.mt-4
        button.btn.rpg-btn.rpg-btn-edit.btn-lg#addQuizBtn(type="button") 
          i.fas.fa-folder-plus.me-2
          | + Добави Раздел (Quiz)
        
        button.btn.rpg-btn.rpg-btn-role.btn-lg#saveQuestBtn(type="button") 
          i.fas.fa-save.me-2
          | ЗАПАЗИ ВСИЧКО

  script(src='/javascripts/admin_create_quest.js')