doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4
      .container
        a.navbar-brand(href='/') Learning RPG
        
        .d-flex
          if currentUser
            span.navbar-text.me-3 Здравей, #{currentUser.username}!
            a.btn.btn-outline-light.btn-sm(href='/logout') Изход
          else
            a.btn.btn-outline-primary.me-2(href='/login') Вход
            a.btn.btn-primary(href='/register') Регистрация

    block content

    script(src='/bootstrap/js/bootstrap.bundle.min.js')